/* -------------------------------------------------------------------------
 Mixins
---------------------------------------------------------------------------- */


/*-------------------------------------------------------*\
    #clearfix mixin
\*-------------------------------------------------------*/

@mixin clearfix {

    &:before,
    &:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }

    &:after {
        clear: both;
    }

    & {
        *zoom: 1;
    }

}


/*-------------------------------------------------------*\
    #box sizing
\*-------------------------------------------------------*/
@mixin box-sizing {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}


/*-------------------------------------------------------*\
    #repsond
\*-------------------------------------------------------*/
@mixin respond-to($point) {

    @media (min-width: $point) {

        @content;

    }

}
