/* -------------------------------------------------------------------------
 Variables
---------------------------------------------------------------------------- */

$white:         #FFFFFF;
$grey-light:    #E9E9E9;
$grey:          #CCCCCC;
$grey-dark:     #433C3E;
$black:         #231F20;

$red-100:       #FBCBCD;
$red-200:       #F38D90;
$red-300:       #ED1C24;
$red-400:       #B30E14;
$red-500:       #840A0F;
