{% extends "base.html" %}

{% block main %}
	<h2 class="sg-h2">Guidelines</h2>
	<ol class="sg-contents">
	    <li><a href="general-guidelines.html">General guidelines</a></li>
	    <li><a href="accessibility-guidelines.html">Accessibility guidelines</a></li>
	    <li><a href="html-guidelines.html">HTML guidelines</a></li>
	    <li><a href="sass-and-css-guidelines.html">Sass & CSS guidelines</a></li>
	    <li><a href="javascript-guidelines.html">Javascript guidelines</a></li>
	</ol>

	<hr>
	<div class="sg-docs">
	{% block mainDocs %}{% endblock %}
	</div>
{% endblock %}
