
/* -------------------------------------------------------------------------
    Fonts
---------------------------------------------------------------------------- */

@font-face {

    font-family: AvenirNext-Regular;
            src:url("../fonts/AvenirNext-Regular.woff2") format("woff2"),
                url("../fonts/AvenirNext-Regular.woff") format("woff"),
                url("../fonts/AvenirNext-Regular.ttf") format("truetype");
                font-style: normal;
}

@font-face {

    font-family: AvenirNext-Italic;
            src:url("../fonts/AvenirNext-Italic.woff2") format("woff2"),
                url("../fonts/AvenirNext-Italic.woff") format("woff"),
                url("../fonts/AvenirNext-Italic.ttf") format("truetype");
                font-style: italic;


}

@font-face {

    font-family: AvenirNext-Medium;
            src:url("../fonts/AvenirNext-Medium.woff2") format("woff2"),
                url("../fonts/AvenirNext-Medium.woff") format("woff"),
                url("../fonts/AvenirNext-Medium.ttf") format("truetype");
                font-style: normal;

}

@font-face {

    font-family: AvenirNext-Demi;
            src:url("../fonts/AvenirNext-Demi.woff2") format("woff2"),
                url("../fonts/AvenirNext-Demi.woff") format("woff"),
                url("../fonts/AvenirNext-Demi.ttf") format("truetype");
                font-style: normal;

}

@font-face {

    font-family: AvenirNext-Bold;
            src:url("../fonts/AvenirNext-Bold.woff2") format("woff2"),
                url("../fonts/AvenirNext-Bold.woff") format("woff"),
                url("../fonts/AvenirNext-Bold.ttf") format("truetype");
                font-style: normal;

}

@font-face {

    font-family: MarselisSlab-Regular;
            src:url("../fonts/MarselisSlab-Regular.woff2") format("woff2"),
                url("../fonts/MarselisSlab-Regular.woff") format("woff"),
                url("../fonts/MarselisSlab-Regular.ttf") format("truetype");
                font-style: normal;

}

@font-face {

    font-family: MarselisSlab-Italic;
            src:url("../fonts/MarselisSlab-Italic.woff2") format("woff2"),
                url("../fonts/MarselisSlab-Italic.woff") format("woff"),
                url("../fonts/MarselisSlab-Italic.ttf") format("truetype");
                font-style: italic;

}

@font-face {

    font-family: MarselisSlab-Light;
            src:url("../fonts/MarselisSlab-Light.woff2") format("woff2"),
                url("../fonts/MarselisSlab-Light.woff") format("woff"),
                url("../fonts/MarselisSlab-Light.ttf") format("truetype");
                font-style: normal;

}

@font-face {

    font-family: MarselisSlab-LightItalic;
            src:url("../fonts/MarselisSlab-Light-Italic.woff2") format("woff2"),
                url("../fonts/MarselisSlab-Light-Italic.woff") format("woff"),
                url("../fonts/MarselisSlab-Light-Italic.ttf") format("truetype");
                font-style: italic;

}

@font-face {

    font-family: MarselisSlab-Bold;
            src:url("../fonts/MarselisSlab-Bold.woff2") format("woff2"),
                url("../fonts/MarselisSlab-Bold.woff") format("woff"),
                url("../fonts/MarselisSlab-Bold.ttf") format("truetype");
                font-style: normal;

}

@font-face {

    font-family: MarselisSlab-BoldItalic;
            src:url("../fonts/MarselisSlab-Bold-Italic.woff2") format("woff2"),
                url("../fonts/MarselisSlab-Bold-Italic.woff") format("woff"),
                url("../fonts/MarselisSlab-Bold-Italic.ttf") format("truetype");
                font-style: italic;

}

