
/* -------------------------------------------------------------------------
    Type
---------------------------------------------------------------------------- */

body {

    font-family: AvenirNext-Regular, serif;
    font-weight: 400;
    line-height: 1.45;
    color: $black;

}

p {

    margin-bottom: 1.45em;

}

