/* -------------------------------------------------------------------------
    Imports
---------------------------------------------------------------------------- */

@charset 'UTF-8';


// 1. Variables
@import
    'utils/variables';


// 2. Functions
@import
    'utils/functions';


// 3. Mixins
@import
    'utils/mixins';


/* -------------------------------------------------------------------------
    SG Styles
---------------------------------------------------------------------------- */

.MarselisSlab-Bold {

    font-family: MarselisSlab-Bold, Georgia, serif;

}

.MarselisSlab-BoldItalic {

    font-family: MarselisSlab-BoldItalic, Georgia, serif;
    font-style: italic;

}

.MarselisSlab-Regular {

    font-family: MarselisSlab-Regular, Georgia, serif;
    font-weight: 400;

}

.MarselisSlab-Italic {

    font-family: MarselisSlab-Italic, Georgia, serif;
    font-weight: 400;
    font-style: italic;

}

.MarselisSlab-Light {

    font-family: MarselisSlab-Light, Georgia, serif;
    font-weight: 400;

}

.MarselisSlab-LightItalic {

    font-family: MarselisSlab-LightItalic, Georgia, serif;
    font-weight: 400;
    font-style: italic;

}

.AvenirNext-Bold{

    font-family: AvenirNext-Bold, Arial, sans-serif;
    font-weight: 700;

}

.AvenirNext-Demi{

    font-family: AvenirNext-Demi, Arial, sans-serif;
    font-weight: 700;

}

.AvenirNext-Medium{

    font-family: AvenirNext-Medium, Arial, sans-serif;

}

.AvenirNext-Regular{

    font-family: AvenirNext-Regular, Arial, sans-serif;

}

.AvenirNext-Italic{

    font-family: AvenirNext-Italic, Arial, sans-serif;
    font-style: italic;

}


/* -------------------------------------------------------------------------
    Headings
---------------------------------------------------------------------------- */

.sg-h1,
.sg-h2,
.sg-h3,
.sg-h4 {

    margin: 1.414em 0 0.5em;
    font-family: AvenirNext-Bold, serif;
    font-weight: inherit;
    line-height: 1.2;
    text-transform: capitalize;

}

.sg-h1 {

    margin-top: 0;
    font-size: 2.074em;

}

.sg-h2 {

    font-size: 1.728em;

}

.sg-h3 {

    font-size: 1.44em;

}

.sg-h4 {

    font-size: 1.2em;
    border-bottom: 1px solid;

}

.sg-small {

    font-size: 0.633em;
    float: left;

}

.sg-about {

    font-size: 1em;

}

/* -------------------------------------------------------------------------
    Layout
---------------------------------------------------------------------------- */


.sg-wrapper {

    position: relative;

}

.sg-main {

    margin-bottom: 5em;

}

.sg-header {

    background: $black;
    color: $white;
    position: relative;
    z-index: 100;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

}

.sg-footer {

    background: $grey-100;

}

.sg-logo {

    display: block;
    font-size: 1.4em;
    margin: 0;
    line-height: 1.5;
    padding: 0.75em 0;

    a {

        text-decoration: none;
        color: #fff;

        img {

           width: 110px;

        }

        .sg-product {

            font-family: AvenirNext-regular;
            font-size: 0.8em;
            text-transform: uppercase;
            position: relative;
            vertical-align: middle;
            border-left: 1px solid #fff;
            padding-left: 10px;
                margin-left: 5px;

        }

    }

    @include respond-to(640px) {

        float: left;

    }

}

.sg-nav {

    float: left;

    a {
        color: #fff;
        font-family: AvenirNext-Regular;
        text-decoration: none;
        margin-right: 2em;
        padding: 0.75em 0;
        display: inline-block;
        position: relative;

        &.active:before {
           content: '';
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-bottom: 20px solid $grey-100;
            left: 50%;
            position: absolute;
            bottom: -10px;
            margin-left: -20px;
        }
    }
}


.sg-version {

    float: right;
    width: auto;
    
}

.sg-btn--top {

    display: inline-block;
    float: right;
    font-size: 0.8em;
    margin-bottom: 2em;
    margin-top: 1.3em;

}

.sg-contents {

    text-transform: capitalize;
    margin-bottom: 2.414em;

}

.sg-disabled {

    color: $grey-300;

}

.sg-example {

    background: $white;
    border: 1px solid $grey-300;
    padding: 1em;
    border-radius: 3px;
    margin-bottom: 2em;

}

.sg-col-half {

    @include respond-to(640px){

        width: 50%;
        float: left;
        margin: 0;
        padding: 0;
        list-style: none;

    }

    &:first-child {

        margin-left: 0;

    }

}

.sg-col-full {
    width: 100%;
    @include clearfix;
}

.grey-border {
    border: 1px solid $grey-100;
}

/* -------------------------------------------------------------------------
    Utility Classes
---------------------------------------------------------------------------- */

.sg-container {

    max-width: 940px;
    margin: 0 auto;
    padding: 0 20px;

    @include clearfix;

}

.sg-visually-hidden {

    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

}

.sg-visually-hidden-focusable:active,
.sg-visually-hidden-focusable:focus {

    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;

}



/* -------------------------------------------------------------------------
    Code Blocks
---------------------------------------------------------------------------- */

.sg-docs pre,
.sg-code-block {

    background: #f5f2f0;
    border-radius: 3px;
    color: #666;
    box-sizing: border-box;
    border: 1px solid #DDD;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 1em;
    padding: 1em;
    position: relative;

}

.source {

    padding: 4em 2em 2em;

    &:before {
        content:'source';
        position: absolute;
        background: $grey-100;
        border-right: 1px solid $grey-200;
        border-bottom: 1px solid $grey-200;
        font-size: 0.9em;
        color: $grey-500;
        padding: 0.5em 1em;
        top:0;
        left: 0;
    }
}

.code {

    display: none;
    position: relative;
    max-height: 200px;
    overflow: auto;

}

.code.active {

    display: block;

}

pre {

    margin: 0;
    font-family: monospace;
    white-space: pre;
    background: #f5f2f0;

    code {

        display: block;
        padding: 0;
        overflow-y: auto;
        font-weight: 300;
        font-size: 0.9em;
        background: none;

    }

}

code {
    display: inline-block;
    background-color: #e9e9e9;
    padding: 1px 5px;
    font-size: 0.8em;
    font-family: consolas,monospace,x;
}


.sg-pattern {
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #DDD;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 1em;
    padding: 2em 1em;
    background: #fff;
    @include clearfix;
    @include respond-to(640px){
        padding: 2em;
    }
}


 /* -------------------------------------------------------------------------
    GitHub Gist Theme
---------------------------------------------------------------------------- */

.hljs {

    display: block;
    padding: 0;
    color: #333333;
    overflow-x: auto;
    -webkit-text-size-adjust: none;

}

.hljs-comment,
.bash .hljs-shebang,
.java .hljs-javadoc,
.javascript .hljs-javadoc,
.rust .hljs-preprocessor {

    color: #969896;

}

.hljs-string,
.apache .hljs-sqbracket,
.coffeescript .hljs-subst,
.coffeescript .hljs-regexp,
.cpp .hljs-preprocessor,
.c .hljs-preprocessor,
.javascript .hljs-regexp,
.json .hljs-attribute,
.makefile .hljs-variable,
.markdown .hljs-value,
.markdown .hljs-link_label,
.markdown .hljs-strong,
.markdown .hljs-emphasis,
.markdown .hljs-blockquote,
.nginx .hljs-regexp,
.nginx .hljs-number,
.objectivec .hljs-preprocessor .hljs-title,
.perl .hljs-regexp,
.php .hljs-regexp,
.xml .hljs-value,
.less .hljs-built_in,
.scss .hljs-built_in {

    color: #df5000;

}

.hljs-keyword,
.css .hljs-at_rule,
.css .hljs-important,
.http .hljs-request,
.ini .hljs-setting,
.haskell .hljs-type,
.java .hljs-javadoctag,
.javascript .hljs-tag,
.javascript .hljs-javadoctag,
.nginx .hljs-title,
.objectivec .hljs-preprocessor,
.php .hljs-phpdoc,
.sql .hljs-built_in,
.less .hljs-tag,
.less .hljs-at_rule,
.scss .hljs-tag,
.scss .hljs-at_rule,
.scss .hljs-important,
.stylus .hljs-at_rule,
.go .hljs-typename,
.swift .hljs-preprocessor {

    color: #a71d5d;

}

.apache .hljs-common,
.apache .hljs-cbracket,
.apache .hljs-keyword,
.bash .hljs-literal,
.bash .hljs-built_in,
.coffeescript .hljs-literal,
.coffeescript .hljs-built_in,
.coffeescript .hljs-number,
.cpp .hljs-number,
.cpp .hljs-built_in,
.c .hljs-number,
.c .hljs-built_in,
.cs .hljs-number,
.cs .hljs-built_in,
.css .hljs-attribute,
.css .hljs-hexcolor,
.css .hljs-number,
.css .hljs-function,
.haskell .hljs-number,
.http .hljs-literal,
.http .hljs-attribute,
.java .hljs-number,
.javascript .hljs-built_in,
.javascript .hljs-literal,
.javascript .hljs-number,
.json .hljs-number,
.makefile .hljs-keyword,
.markdown .hljs-link_reference,
.nginx .hljs-built_in,
.objectivec .hljs-literal,
.objectivec .hljs-number,
.objectivec .hljs-built_in,
.php .hljs-literal,
.php .hljs-number,
.python .hljs-number,
.ruby .hljs-prompt,
.ruby .hljs-constant,
.ruby .hljs-number,
.ruby .hljs-subst .hljs-keyword,
.ruby .hljs-symbol,
.rust .hljs-number,
.sql .hljs-number,
.puppet .hljs-function,
.less .hljs-number,
.less .hljs-hexcolor,
.less .hljs-function,
.less .hljs-attribute,
.scss .hljs-preprocessor,
.scss .hljs-number,
.scss .hljs-hexcolor,
.scss .hljs-function,
.scss .hljs-attribute,
.stylus .hljs-number,
.stylus .hljs-hexcolor,
.stylus .hljs-attribute,
.stylus .hljs-params,
.go .hljs-built_in,
.go .hljs-constant,
.swift .hljs-built_in,
.swift .hljs-number {

    color: #0086b3;

}

.apache .hljs-tag,
.cs .hljs-xmlDocTag,
.css .hljs-tag,
.xml .hljs-title,
.stylus .hljs-tag {

    color: #63a35c;

}

.bash .hljs-variable,
.cs .hljs-preprocessor,
.cs .hljs-preprocessor .hljs-keyword,
.css .hljs-attr_selector,
.css .hljs-value,
.ini .hljs-value,
.ini .hljs-keyword,
.javascript .hljs-tag .hljs-title,
.makefile .hljs-constant,
.nginx .hljs-variable,
.xml .hljs-tag,
.scss .hljs-variable {

    color: #333333;

}

.bash .hljs-title,
.coffeescript .hljs-title,
.cpp .hljs-title,
.c .hljs-title,
.cs .hljs-title,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo,
.ini .hljs-title,
.haskell .hljs-title,
.haskell .hljs-pragma,
.java .hljs-title,
.javascript .hljs-title,
.makefile .hljs-title,
.objectivec .hljs-title,
.perl .hljs-sub,
.php .hljs-title,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-parent,
.ruby .hljs-title,
.rust .hljs-title,
.xml .hljs-attribute,
.puppet .hljs-title,
.less .hljs-id,
.less .hljs-pseudo,
.less .hljs-class,
.scss .hljs-id,
.scss .hljs-pseudo,
.scss .hljs-class,
.stylus .hljs-class,
.stylus .hljs-id,
.stylus .hljs-pseudo,
.stylus .hljs-title,
.swift .hljs-title,
.diff .hljs-chunk {

    color: #795da3;

}

.coffeescript .hljs-reserved,
.coffeescript .hljs-attribute {

    color: #1d3e81;

}

.diff .hljs-chunk {

    font-weight: bold;

}

.diff .hljs-addition {

    color: #55a532;
    background-color: #eaffea;

}

.diff .hljs-deletion {

    color: #bd2c00;
    background-color: #ffecec;

}

.markdown .hljs-link_url {

    text-decoration: underline;

}



 /* -------------------------------------------------------------------------
    Color Blocks
---------------------------------------------------------------------------- */

.sg-example-color {

    padding: 1em;

    @include clearfix;

}

.w-text {

    color: #fff;

}

